.catalog-container {
    padding: 20px;
  }
  
  .catalog-table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .catalog-table th,
  .catalog-table td {
    border: 2px solid #0e0d0d;
    padding: 8px;
    text-align: left;
  }
  
  .catalog-table th {
    background-color:#d2b48c; 
  }
  
  .catalog-table tr {
    background-color:#f2e9dd;
  }
  
  .catalog-table tr:hover {
    background-color:#dbcab3; 
  }

  .total-fine-card {
  width: 25%;
  height: 25%;
  padding: 20px;
  border: 2px solid #1f1d1d;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f2e9dd;
}

.total-fine-card h3 {
  margin-top: 0;
}

.total-fine-card p {
  font-size: 24px;
  font-weight: bold;
}
  
.catalog-main {
    display: flex;
    justify-content: space-between;
  }