.home-container {
    padding: 20px;
  }
  
  .tags-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tag {
    background-color:#f2e9dd;
    color: black;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .tag.active {
    background-color: #d2b48c;
  }
  
  .card-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .keywords-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  
  .keyword-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    text-align: center;
  }
  