.header {
  background-color: #d2b48c;

  padding: 10px;
}

.logo-image {
  width: 55px;
  height: 55px;
  border: 1px solid rgb(59, 57, 57);
  border-radius: 50%;
  box-shadow: 2px 3px 4px black;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: black !important;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: blue !important;
}

.large-icon {
  font-size: 1.75rem;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
}
