.footer {
    background-color: #0e0d0c;
    padding: 5px;
    text-align: center; 
  }
  
  .footer-nav-link {
    color: rgb(250, 249, 249) !important;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-right: 70px;
  }
  
  .footer-nav-link:hover {
    color: blue !important;
  }
  
  .footer-nav-item {
    display: inline-block;
  }
  
  .fs-4 {
    margin-right: 8px; 
  }
  